@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* hsl(240, 4%, 46%) */
		--background: 240 10% 4%;
		--foreground: 0 0% 98%;

		--muted: 240 4% 46%;

		--border: 240 6% 10%;

		--secondary: 240 6% 10%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 5% 84%;
	}

	* {
		@apply scroll-smooth border-border ring-ring;
	}

	body {
		@apply bg-background text-foreground overflow-x-hidden;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
